* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

header {
  margin-top: 200px;
  border-bottom: 5px solid hsl(0, 0%, 40%);
}

main {
  background-color: hsl(0, 0%, 60%);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

p strong {
  color: green;
}
.intro-chunk {
  margin-bottom: 80px;
  max-width: 330px;
}

.title {
  margin-bottom: 48px;
}

.card {
  background-color: white;
  border-bottom: 5px solid hsl(0, 0%, 40%);
  padding-top: 1px;
}

.indented-heading {
  background-color: hsl(45, 100%, 50%);
  border-bottom: 5px solid hsl(45, 100%, 39%);
  width: max-content;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-left: -24px;
}
